header{
    color: black;
    position: relative;
    height: 60px;
    padding: 10px;
}
header:hover{
box-shadow: 0px 0px 5px black;
}
header .logo{
    position: absolute;
    left: 10px;
}

header .row .col-6 .nav .nav-item{
    margin-left: 20px;
}
header .row .col-6 .nav .nav-item a{
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif
}
header .row .col-3 a{
    position: absolute;
    top: 15px;
    text-decoration: None;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif
}